@page
@model ForgotPasswordConfirmationModel
@{
    ViewData["Title"] = "Glömt lösenord bekräftelse";
}

<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center mb-3">@ViewData["Title"]</h1>
            <div class="card shadow">
                <div class="card-body p-3 text-center">
                    <i class="bi bi-envelope-check text-success" style="font-size: 3rem;"></i>
                    <p class="mt-2 mb-1">
                        Vi har skickat en länk för att återställa ditt lösenord till din e-post.
                    </p>
                    <p>
                        Kontrollera din e-post för att återställa ditt lösenord.
                    </p>
                    <div class="mt-3">
                        <a asp-page="./Login" class="btn btn-primary">Tillbaka till inloggning</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
